:root {
  --bs-primary: #1F6AC1;
  --bs-secondary: #2c5e2c;
  --bs-accent: #f5e6cf;
  --bs-neutral-light: #FFC571;
  --bs-neutral-dark: black;
}

* {
  margin: 0;
}

body {
  padding-top: 4rem;
}

/* MARK: Navbar */
.navbar {
  background-color: var(--bs-accent) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 1rem;
}

.navbar-toggler {
  background-color: var(--bs-neutral-light);
}

.active {
  font-weight: bold;
}

/* buttons */
button {
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.btn {
  
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-primary:focus,
.btn-primary:active {
  color: var(--bs-neutral-light) !important;
}

.btn-secondary {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-secondary) !important;
}

.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--bs-neutral-dark) !important;
  border-color: var(--bs-neutral-dark) !important;
}

/* Accent text */
h1,
h2,
h3,
.highlight-text {
  color: var(--bs-neutral-dark);
  margin: 1rem;
}

/* MARK: index */
.card {
  max-width: 100%;
  border-color: var(--bs-primary);
}

.card-header {
  background-color: var(--bs-neutral-light);
  padding: 1rem;
}

.card-body, .card-footer {
  background-color: var(--bs-accent);
  padding: 1rem;
}

.delBtn, .saveBtn {
  font-size: 16px;
  padding: 8px 12px;
}

/* styles.css */

/* popup styling */
#popupContainer {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.popup {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
}

.popup.success {
  background-color: green;
}

.popup.error {
  background-color: red;
}

/* Additional styles for popup container (if needed) */
.popupContainer {
  max-width: 300px;
}

/* MARK: calendar pg */
#actModal {
  font-weight: bold;
  margin: 2rem auto;
}

table {
  margin: 1rem auto;
  width: 70%;
}

td,
th {
  text-align: center;
  font-size: 12px;
}

thead {
  color: var(--bs-secondary);
}

td:hover {
  background-color: var(--bs-accent);
}

.monthYear {
  margin-left: 2rem;
  width: 15rem;
}

.prev,
.next {
  font-size: 12px;
  padding: 8px;
  margin: 1rem;
}

.next {
  margin-right: 2rem;
}

/* MARK: new-event modal */



/* MARK: forms */
label {
  margin: 12px 0;
  margin-right: 8px;
}

input {
  margin: .5rem;
  cursor: pointer;
}

input[type="text"] {
  width: 10rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}





/*  MARK: this-month */








/* MARK: map */
#map {
  height: 100vh;
  width: auto;
  z-index: 1;
}

/* MARK: media query */
@media (min-width: 900px) {
  body {
    padding-top: 5.25rem;
  }

  .btn-primary {
    font-size: 24px;
  }

  .btn-secondary {
    font-size: 16px;
  }

  .nav-link {
    font-size: 24px;
  }

  .monthYear {
    font-size: 28px;
    margin-left: 5rem;
  }

  td,
  th,
  .prev,
  .next {
    font-size: 16px;
  }

  .prev,
  .next {
    width: 4rem;
  }

  .prev {
    margin-left: 10rem;
  }

  .next {
    margin-right: 2.5rem;
  }

  label {
    margin-right: 0;
  }
}

@media (min-width: 992px) {

  .btn-primary {
    font-size: 32px;
  }

  .btn-secondary {
    font-size: 20px;
  }

  .monthYear {
    margin-left: 5rem;
    font-size: 32px;
  }

  td,
  th,
  .prev,
  .next {
    font-size: 20px;
  }

  .prev,
  .next {
    width: 5rem;
  }

  .prev {
    margin-left: 20rem;
  }

  .next {
    margin-right: 2.5rem;
  }

  .nav-item {
    padding: 0 2rem;
  }
}